body {
    font-family: Roboto, sans-serif;
}
h3 {
    margin-block-start: 0;
    margin-block-end: 0.7em;
}

@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .table {
        height: 600px;
    }

    .botCard {
        padding: 60px 40px;
    }

    .carousel {
        margin-top: -100px;
    }
}

.backGround {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgb(51, 54, 228), rgb(203, 103, 27), rgb(51, 54, 228));
    background-size: 400% 400%;
    animation: gradient 15s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.table {
    margin-top: 5%; 
    display: flex;
    justify-content: center; 
    justify-self: anchor-center;
}

.column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 40%;
    max-width: 60%;
}

.botCard {
    min-width: 300px;
    background: rgb(28, 28, 28, 0.6);
    color: white;
    text-align: center;
    padding: 60px 90px;
    width: 60%;
    border-radius: 26px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(100px);
    transition: transform 0.3s ease;
}

.botCard:hover {
    transform: scale(1.02);
}

.avatar {
    height: 130px;
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

.name {
    padding-top: 16px;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
}

.username {
    color: #7d7f81;
    font-size: 15px;
    line-height: 18px;
    padding: 6px 16px 0;
}

.description {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 100;
}

.start-btn {
    background: linear-gradient(45deg, #2c47d6, #ec642a);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition:
        transform 0.3s ease,
        background-position 0.5s ease;
    background-size: 200% 200%;
}

.start-btn:hover {
    transform: scale(1.05);
    background-position: 0% 100%;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
}

.tooltip {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    flex-direction: column;
    top: 10%;
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.25s;
    padding-bottom: 20px;
    opacity: 0;
}

.tooltipShow {
    opacity: 1;
    top: 16%;
    pointer-events: auto;
}

.tooltipShow:hover {
    transform: scale(1.02);
}

.tooltip img {
    width: 280px;
}

.tooltip .qrText {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(89deg, #4066ff, #ff5006);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 5px;
}

.carousel {
    height: 220px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 330px;
    position: relative;
    transition: transform 0.3s ease;
}

.carousel:hover {
    transform: scale(1.05);
}

.carousel-text {
    font-weight: 100;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.851);
    position: absolute;
    text-align: center;
    width: 100%;
    /* Растягиваем текст по ширине контейнера */
    transform: translateX(0%);
    /* Начинает справа */
    opacity: 0;
    transition:
        transform 0.6s ease-out,
        opacity 0.6s ease-out;

}

.phone {
    z-index: -1;
    height: 730px;
    transition: transform 0.3s ease;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
}

.faq {
    margin-top: 100px;
    width: 420px;  
}
.faqCard { 
    padding: 30px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    white-space: normal;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-wrap-style: balance;
    text-align: start;
    margin-top: 20px;
}

.faqCard:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    gap: 20px;
}